[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/cpython"]
	path = deps/cpython
	url = https://github.com/python/cpython.git
	branch = 3.9
[submodule "deps/cpython-portable"]
	path = deps/cpython-portable
	url = https://github.com/Denzy7/cpython-portable
[submodule "deps/bullet3_src"]
	path = deps/bullet3_src
	url = https://github.com/Denzy7/bullet3_src
[submodule "deps/ntldd"]
	path = deps/ntldd
	url = https://github.com/Denzy7/ntldd
[submodule "deps/mingw-ldd"]
	path = deps/mingw-ldd
	url = https://github.com/xantares/mingw-ldd
